extends layout

block content
    table
        each applicant in applicants
            tr
                td #{applicant.name}
                td #{applicant.email}
                td #{applicant.university}
                td #{applicant.time}
