doctype html
html
    head
        title='UNCAGED ADMIN'
        meta(name='description', content='Administer the UNCAGED BEAST')
    body
        div.container
            h1 UNCAGED ADMIN
            div.content
                block content

